.main-block .swiper-button-wrapper {
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
}
.main-block .swiper-button-prev, .main-block .swiper-button-next {
  border-radius: 6px;
}
.main-block .main-block-text {
  max-width: 920px;
  padding-right: 0;
  padding-left: 70px;
}
@media (max-width: 960px) {
  .main-block .main-block-text {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.main-block .swiper-button-next, .main-block .swiper-button-prev {
  position: absolute;
}
.main-block .swiper-slide {
    position: relative;
}
.main-block .swiper-slide:before{
    z-index: 2;
}
.main-block picture{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
        object-fit: cover;
    display: block;
    z-index: 1;
}

.main-block picture img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main-block .container {
  position: relative;
  z-index: 3;
}


.main-block .main-block-text{
    z-index: 3;
}
.products-info .products-info-grid-left h4 {
    word-spacing: 0px;
}

.products-info .products-info-grid-right {
    max-height: 100%;
    font-size: 24px;

}

.products-info .products-info-grid {
    grid-template-columns: 500px 1fr;
    grid-gap: 60px;
    align-items: flex-start;
}


@media (max-width: 1200px) {
    .products-info .products-info-grid {
        grid-gap: 30px;
        grid-template-columns: 1fr;
    }
}