{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'fonts/Roboto/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'libs/lightgallery/lightgallery.css' %}">
    <link rel="stylesheet" href="{% static 'libs/modals/jquery.modal.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <style>.blocker{z-index: 20}</style>
    <link rel="icon" href="{% static 'img/svg/favicon.svg' %}">

    {% block seo %}
    {% endblock %}
    <script>
        function saveScrollPosition(savePosition) {
            console.log('savePosition', savePosition);
            if (savePosition === true) {
                localStorage.setItem('scrollPosition', window.scrollY);
            }
        }

        function changeLanguage(url, savePosition) {
            saveScrollPosition(savePosition);
            window.location.href = url;
        }

        window.addEventListener('beforeunload', saveScrollPosition);
    </script>
</head>
<body>
<div id="preloader">
    <div>
        <img src="{% static 'img/svg/preloader.svg' %}" alt="Toyboss">
    </div>
</div>
<main class="main">

    <header class="header">
        <div class="container">
            <div class="header-grid">
                <a href="{% url 'main_page' %}" class="header-logo">
                    <img src="{% static 'img/svg/toyboss-logo-white.svg' %}" alt="Toyboss">
                </a>
                <nav class="nav">
                    <a href="{% url 'about_page' %}">{{ navigation_menu.about }}</a>
                    <a href="{% url 'production_page' %}">{{ navigation_menu.production }}</a>
                    <a href="{% url 'products_page' %}">{{ navigation_menu.product }}</a>
                    <a href="{% url 'cooperation_page' %}">{{ navigation_menu.cooperation }}</a>
                    <a href="{% url 'news_page' %}">{{ navigation_menu.news }}</a>
                    <a href="{% url 'contacts' %}">{{ navigation_menu.contact }}</a>
                </nav>
                <div class="nav-right">
                    <div class="nav-right-set-lang">
                        <div onclick="openDropdown('landDropdown')" class="dropbtn">{{ LANGUAGE_CODE }}</div>
                        <div id="landDropdown" class="dropdown-content">
                            <a href="javascript:void(0);" onclick="changeLanguage('{{ link_kg }}', true)" {% if request.LANGUAGE_CODE == 'ky' %}class="active"{% endif %}><img
                                    src="{% static 'img/svg/kg.svg' %}" alt="KY">KY</a>

                            <a href="javascript:void(0);" onclick="changeLanguage('{{ link_ru }}', true)" {% if request.LANGUAGE_CODE == 'ru' %}class="active"{% endif %}><img
                                    src="{% static 'img/svg/ru.svg' %}" alt="RU">RU</a>

                            <a href="javascript:void(0);" onclick="changeLanguage('{{ link_en }}', true)" {% if request.LANGUAGE_CODE == 'en' %}class="active"{% endif %}><img
                                    src="{% static 'img/svg/en.svg' %}" alt="EN">EN</a>
                        </div>
                    </div>
                    <div class="mobile-burger" onclick="showMobileMenu()">
                        <img src="{% static 'img/svg/menu.svg' %}" alt="Toyboss">
                    </div>
                    <a class="red-button button showError" id="showError">{{ navigation_menu.ustukan_game_general }}</a>
                </div>

            </div>
        </div>
    </header>
    <div id="mobile-menu" class="mobile-menu">
        <div class="mobile-menu-head">
            <a href="{% url 'main_page' %}"><img src="{% static 'img/svg/toyboss-logo-blue.svg' %}" alt="Toyboss"></a>
            <div onclick="hiddenMobileMenu()">
                <img src="{% static 'img/svg/close.svg' %}" alt="Toyboss">
            </div>
        </div>
        <nav class="mobile-menu-head-nav">
            <a href="{% url 'about_page' %}">{{ navigation_menu.about }}</a>
                    <a href="{% url 'production_page' %}">{{ navigation_menu.production }}</a>
                    <a href="{% url 'products_page' %}">{{ navigation_menu.product }}</a>
                    <a href="{% url 'cooperation_page' %}">{{ navigation_menu.cooperation }}</a>
                    <a href="{% url 'news_page' %}">{{ navigation_menu.news }}</a>
                    <a href="{% url 'contacts' %}">{{ navigation_menu.contact }}</a>
        </nav>
        <a class="red-button button showError" id="showError">{{ navigation_menu.ustukan_game_general }}</a>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <div class="footer-grid-left">
                    <a href="{% url 'main_page' %}" class="footer-grid-left-logo"><img src="{% static 'img/svg/toyboss-logo-white.svg' %}" alt="Toyboss"></a>
                    <p class="footer-slogan">{{ footer.title }}</p>
                    <div class="footer-social">
                        {% for i in social_network.social_items.all %}
                        <a href="{{ i.link }}" target="_blank">
                            <img src="{{ i.icon.url }}" alt="{{ i.link }}">
                        </a>
                        {% endfor %}
                    </div>
                    <div class="footer-whatsapp">
                        <div class="footer-whatsapp-label">WhatsApp:</div>
                        <a class="footer-whatsapp-link" href="https://wa.me/{{ footer.whatsup_number }}"><img src="{% static 'img/svg/whatsapp.svg' %}"
                                                                                           alt="Toyboss WhatsApp">{{ footer.whatsup_number }}</a>
                    </div>
                </div>
                <div class="footer-grid-right">
                    <div>
                        <div class="footer-right-title">{{ navigation_menu.contact }}</div>
                        <div class="footer-right-info">
                            <div class="footer-right-info-label">{{ footer.office_title }}</div>
                            <div class="footer-right-info-title">{{ footer.address }}</div>
                        </div>
                        <div class="footer-right-info">
                            <div class="footer-right-info-label">{{ footer.phone_title }}:</div>
                            <div class="footer-right-info-title">{{ footer.phone_number }}</div>
                        </div>
                        <div class="footer-right-info">
                            <div class="footer-right-info-label">E-mail:</div>
                            <div class="footer-right-info-title">{{ footer.email }}</div>
                        </div>
                    </div>
                    <div>
                        <div class="footer-right-title">Меню</div>
                        <nav class="footer-right-nav">
                            <a href="{% url 'about_page' %}">{{ navigation_menu.about }}</a>
                    <a href="{% url 'production_page' %}">{{ navigation_menu.production }}</a>
                    <a href="{% url 'products_page' %}">{{ navigation_menu.product }}</a>
                    <a href="{% url 'cooperation_page' %}">{{ navigation_menu.cooperation }}</a>
                    <a href="{% url 'news_page' %}">{{ navigation_menu.news }}</a>
                            <a href="{% url 'faq_page' %}"> {{ navigation_menu.faq }}</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        {{ footer.rights }} 2012-{% now 'Y' %}
    </div>
</main>

{#<div id="modalSuccess" class="modal-form modal">#}
{#    <div class="modal-form-flex">#}
{#        <a href="#" rel="modal:close" class="modal-form-close">#}
{#            <img src="{% static 'img/svg/close-modal.svg' %}" alt="">#}
{#        </a>#}
{#        <img src="{% static 'img/svg/check.svg' %}" class="modal-form-image" alt="">#}
{#        <h4 class="modal-form-title">Спасибо, ваша заявка успешно отправлена</h4>#}
{#    </div>#}
{#</div>#}
<div id="modalError" class="modal-form modal" style="max-width: 500px">
    <div class="modal-form-flex">
        <a href="#" rel="modal:close" class="modal-form-close">
            <img src="{% static 'img/svg/close-modal.svg' %}" alt="">
        </a>
        {#    <img src="{% static 'img/svg/check.svg' %}" class="modal-form-image" alt="">#}
        {#    <h4 class="modal-form-title">Игра еще в разработке</h4>#}
        {#    <img src="{% static 'img/error.png' %}" alt="" width="90px">#}
        {% if navigation_menu.ustukan_game_first %}
        <h4 class="modal-form-title error-title">{{ navigation_menu.ustukan_game_first }}</h4>
        {% endif %}
        <br>
    {% if navigation_menu.ustukan_game_second %}
        <h4 class="modal-form-title error-title">{{ navigation_menu.ustukan_game_second }}</h4>
    {% endif %}
    </div>

</div>


<script src="{% static 'libs/jquery/jquery-v2.2.4.min.js' %}"></script>
<script>
    $(window).on("load", function () {
        $("#preloader").fadeOut(1000);
    });
</script>
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.counterup.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'libs/lightgallery/lightgallery.js' %}"></script>
<script src="{% static 'libs/aos/aos.js' %}"></script>
<script src="{% static 'libs/parallax/parallax.min.js' %}"></script>
<script src="{% static 'libs/parallax/parallax-2.js' %}"></script>
<script src="{% static 'libs/modals/modals.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
{% block scripts %}
{% endblock %}
<script>
    // $('#modalSuccess').modal({
    //   showClose: false
    // });

    $(".showError").click(function () {
        $('#modalError').modal({
            showClose: false
        })
    });

    // данная функция вызовет модальное окно success
</script>
</body>
</html>
