{% extends 'base.html' %}
{% load static %}
{% block seo %}
    <title>{{ product_page.title }}</title>
    <meta name="title" content="{{ product_page.title }}">
    <meta name="keywords" content="{{ product_page.keywords }}">
    <meta name="description" content="{{ product_page.description }}">
    <meta property="og:title" content="{{ product_page.title }}">
    <meta property="og:url" content="{{ site_name }}{{ request.path }}">
    <meta property="og:description" content="{{ product_page.description }}">
{% endblock %}
{% block content %}
    <section class="product-block" id="tabs-production" style="padding-bottom: 0">
        <div class="container">
            <h3 class="section-title">{{ product_page.page_title }}</h3>
        </div>
        <div>
            <div class="container">
                <ul class="product-block-nav center">
                    {% for i in product_categories %}
                        <li>
                            <a class="product-block-nav-item" href="#product-tab-{{ forloop.counter }}">{{ i.category_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% for i in product_categories %}
                <div id="product-tab-{{ forloop.counter }}">
                {% if i.sandwich_mark %}
                            <a href="https://sandwich.kg/ru/" target="_blank">
                                    {% if request.LANGUAGE_CODE == 'ru' %}
                                        <img src="{% static 'img/png/sand.png' %}" width="100%" loading="lazy" alt="Тойбосс сэндвич">
                                    {% elif request.LANGUAGE_CODE == 'ky' %}
                                        <img src="{% static 'img/png/sand3.png' %}" width="100%" loading="lazy" alt="Тойбосс сэндвич">
                                    {% else %}
                                        <img src="{% static 'img/png/sand2.png' %}" width="100%" loading="lazy" alt="Тойбосс сэндвич">
                                    {% endif %}
                                </a>
                    {% endif %}
                {% if not i.sandwich_mark %}
                    <div class="catalogs" {% if i.chicken_mark %}style="background-color: #51A563;"{% endif %}>
                        <div class="container">
                            <h5 class="catalogs-title">{{ i.category_title }}</h5>
                            <div class="catalogs-grid">
                                {% for j in i.category_products.all %}
                                    {% if j.catalog_show %}
                                    <div class="catalogs-grid-item">
                                        <a href="#ex{{ j.id }}" rel="modal:open" class="link-modal">Open Modal</a>
                                        {% if j.image_semismocked %}
                                            <img class="catalogs-grid-item-image" src="{{ j.image_semismocked.url }}" loading="lazy" alt="Тойбосс {{ j.product_title }}" style="margin-left: 25px">
                                        {% endif %}
                                    {% if j.image_boiled %}
                                            <img class="catalogs-grid-item-image" src="{{ j.image_boiled.url }}" loading="lazy" alt="Тойбосс {{ j.product_title }}" style="margin-left: 25px">
                                        {% endif %}
                                    {% if j.image_chicken %}
                                            <img class="catalogs-grid-item-image center" src="{{ j.image_chicken.url }}" loading="lazy" alt="Тойбосс {{ j.product_title }}">
                                        {% endif %}
                                    {% if j.image_sausages %}
                                            <img class="catalogs-grid-item-image center" src="{{ j.image_sausages.url }}" loading="lazy" alt="Тойбосс {{ j.product_title }}">
                                        {% endif %}
                                        <h3 class="catalogs-grid-item-title">{{ j.product_title }}</h3>
                                        <p class="catalogs-grid-item-desc">{{ j.description }}</p>
                                        <div id="ex{{ j.id }}" class="modal">
                                            <div id="tabs-product">
                                                <div class="product-block-content">
                                                    <div class="product-block-content-left">
                                                        <div class="product-block-sub-nav">
                                                            <div class="product-block-sub-nav-item active">
                                                                {{ j.product_title }}
                                                            </div>
                                                        </div>
                                                        <ul class="product-block-content-tabs">
                                                        {% if j.description %}
                                                            <li class="product-block-content-tabs-item">
                                                                <a href="#product-tab-1-1">{{ general_translations.product_description }}</a>
                                                            </li>
                                                        {% endif %}
                                                            {% if j.compound %}
                                                                <li class="product-block-content-tabs-item">
                                                                    <a href="#product-tab-1-2">{{ general_translations.product_compound }}</a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                        <div class="product-block-content-tabs-content-wrapper" id="product-tab-1-1">
                                                            <p class="product-block-content-tabs-content-desc">{{ j.description }}
                                                            </p>
                                                        </div>
                                                        {% if j.compound %}
                                                            <div class="product-block-content-tabs-content-wrapper" id="product-tab-1-2">
                                                                <p class="product-block-content-tabs-content-desc">{{ j.compound }}</p>
                                                            </div>
                                                        {% endif %}
                                                        <div class="product-block-content-certificates">
                                                            <div class="product-block-content-certificates-item">
                                                                <img src="{% static 'img/svg/certificate-halal-1.svg' %}" loading="lazy" alt="Тойбосс сертификаты халал">
                                                            </div>
                                                            <div class="product-block-content-certificates-item">
                                                                <img src="{% static 'img/svg/certificate-halal-2.svg' %}" loading="lazy" alt="Тойбосс сертификаты халал">
                                                            </div>
                                                            <div class="product-block-content-certificates-item">
                                                                <img src="{% static 'img/svg/certificate-halal-3.svg' %}" loading="lazy" alt="Тойбосс сертификаты халал">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if j.image_detail %}
                                                        <div class="product-block-content-center">
                                                            <img src="{{ j.image_detail.url }}" loading="lazy" alt="Тойбосс {{ j.product_title }}">
                                                        </div>
                                                    {% endif %}
                                                {% if j.fact %}
                                                    <div class="product-block-content-center-right mode">
                                                        <div class="subtitle-num">{{ j.fact }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}